h1 {
    color: khaki;
    font-family: Helvetica;
    font-size:100px;
    font-weight:bold;
    text-align: center;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
.header {
          color:white;
          font-family: Helvetica;
          font-size: 32px;
          font-weight: bold;
}
.description{
              font-family:Helvetica;
              font-weight:bold;
                    color:blue;
}
